@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Nostalgic Path</h1>
    <p class="lead">Some text here to briefly describe our guild.</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Discord</h2>
        <p>Brief description of discord rules.</p>
        <p><a class="btn btn-default" target="_blank" href="https://discord.gg/xevAAxB">Join &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>DKP Sheet</h2>
        <p>A short description made about DKP or the sheet itself.</p>
        <p><a class="btn btn-default" target="_blank" href="https://docs.google.com/spreadsheets/d/1I66SuC4grC0NOi-uu_INqy99juIiSXIFvAsPFzvgq4s">View DKP &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>PoP Progression</h2>
        <p>Something about why we still link this? This space could be used for other things.</p>
        <p><a class="btn btn-default" target="_blank" href="https://docs.google.com/spreadsheets/d/1SPklKpeklXMy6zLDSam4aEcfjY2DJmK30Q9AUSGAcTg">View Progression &raquo;</a></p>
    </div>
</div>