/**/

body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
    background-color: #222222;
    font-family: "Open Sans",Helvetica,Arial,Verdana,sans-serif;
}

h1, h2, h3, h4, h5, h6 { font-family: Roboto, Arial, sans-serif; }

h1 { }
h2 { }
h3 { font-weight:lighter; font-variant-caps:all-petite-caps; font-family: 'Quicksand',Helvetica,Arial,Verdana,sans-serif; }
h4 { }
h5 { }
h6 { }

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 50px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.input-validation-error { border-color: #E74C3C; }
